body {
    margin: 0 auto;
    display: flex;
    height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 110px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .container {
    margin: 0 auto;
    height: 190px;
    width: 520px;
  }